<h1 align="center">All Alpha Bloggers</h1>

 

<div class="center">
<div class="d-flex align-items-center justify-content-center ">
  <%= will_paginate %>
</div>
  <% @users.each do |user| %>
    <ul class="listing">
        <div class="row justify-content-md-center">
          <div class="card card-body bg-light col-md-4">
            <li> <%= link_to gravatar_for(user), user_path(user) %></li>
            <li class="article-title">
            <%= link_to user.username, user_path(user) %>
            </li>
            <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
          </div>
        </div>
    </ul>
  <% end %>
<div class="d-flex align-items-center justify-content-center ">
  <%= will_paginate %>
</div>
</div>